{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    {% include "base/navbar.html" %}
    {% include 'base/messages.html' %}
    <div class="container-fluid">


            <div class="container py-5">
                <h4 class="mb-3">Current Subscription</h4>
                <hr>
                {% if current_subscription %}
                    <table class="table table-borderless">
                        <tr>
                            <th>Name</th>
                            <td>{{ current_subscription.subscription.name }}</td>
                        </tr>
                        <tr>
                            <th>Valid From</th>
                            <td>{{ current_subscription.valid_from }}</td>
                        </tr>
                        <tr>
                            <th>Valid Upto</th>
                            <td>{{ current_subscription.valid_upto }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% if current_subscription.is_cancelled %}
                                    <button type="button" class="btn btn-danger btn-sm">Subscription Cancelled</button>
                                {% else %}
                                    <form method="POST" action="{% url 'payments:cancel_subscription' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="current_subscription" value="{{ current_subscription.id }}">
                                        <input type="submit" class="btn btn-danger btn-sm" value="Cancel Subscription">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <p>No Active Subscription Found</p>
                {% endif %}
            </div>


        <section class="container py-5">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Plan</th>
                        <th>ID</th>
                        <th>Valid From</th>
                        <th>Valid Upto</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_subscription in all_user_subscriptions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user_subscription.subscription.name }}</td>
                            <td>{{ user_subscription.id }}</td>
                            <td>{{ user_subscription.valid_from }}</td>
                            <td>{{ user_subscription.valid_upto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock content %}