<div class="p-md-5 p-3">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="price-card card border-0 mb-4">
                <div class="card-header text-center bg-info text-white py-3">
                    <h4 style="font-size: 28px">Plus</h4>
                </div>
                <div class="card-body">
                    <p class="text-center fw-bold price-p">1 <span>&dollar;</span></p>
                    <div class="py-2 body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>
                </div>
                <div class="card-footer border-0 pb-4 px-4 text-center bg-white">
                    <a href="" class="btn btn-info py-3 px-4 px-md-5 text-center text-white">Select Subscription</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="price-card card border-0 mb-4">
                <div class="card-header text-center bg-info text-white py-3">
                    <h4 style="font-size: 28px">Pro</h4>
                </div>
                <div class="card-body">
                    <p class="text-center fw-bold price-p">2 <span>&dollar;</span></p>
                    <div class="py-2 body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>
                </div>
                <div class="card-footer border-0 pb-4 px-4 text-center bg-white">
                    <a href="" class="btn btn-info py-3 px-4 px-md-5 text-center text-white">Select Subscription</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="price-card card border-0 mb-4">
                <div class="card-header text-center bg-info text-white py-3">
                    <h4 style="font-size: 28px">Ultra</h4>
                </div>
                <div class="card-body">
                    <p class="text-center fw-bold price-p">4 <span>&dollar;</span></p>
                    <div class="py-2 body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>
                </div>
                <div class="card-footer border-0 pb-4 px-4 text-center bg-white">
                    <a href="" class="btn btn-info py-3 px-4 px-md-5 text-center text-white">Select Subscription</a>
                </div>
            </div>
        </div>
    </div>
</div>